node_modules
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.next
dist
coverage
.turbo
.pnpm-store/
.env
.env.local
.env.deploy
!.env.example
!.env.deploy.example
.DS_Store
*.log
*.tsbuildinfo
infrastructure/docker/data
infrastructure/docker/volumes/
