node_modules
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.next
dist
coverage
.turbo
.env
.env.local
!.env.example
.DS_Store
*.log
*.tsbuildinfo
infrastructure/docker/data
infrastructure/docker/volumes/
